<h1>Welcome to battle</h1>

<form id="players" action="names" method="post">
  <label>Player 1: <input type="text" name="player_1" value=""></label>
  <label>Player 2: <input type="text" name="player_2" value=""></label>
  <input type="submit" value="Play!">
</form>
